---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect" />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title=""
    subtitle="I typically respond within 48 hours."
    items={[
      {
        title: 'Email',
        description: '<a href="mailto:hello@josef.co">hello@josef.co</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Connect',
        description: '<a href="https://www.linkedin.com/in/josefscarantino/">@JosefScarantino</a>',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  />
</Layout>
