---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Josef.co - Personal site of Josef Scarantino',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      Josef helps cultivate human<br />potential for <span class="text-accent dark:text-white">collective impact</span>.
    </Fragment>

    <Fragment slot="subtitle">
      Systems thinker, community-builder, &amp; accidental founder.<br />Currently building the shared transformation
      economy at <a href="https://forwardkind.com" class="text-accent font-semibold">Forwardkind</a>.</Fragment
    >
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Current Projects"
    subtitle="Here's where I'm currently spending my time."
    isReversed
    items={[
      {
        title: '',
        description:
          '<a href="https://forwardkind.com" target="_blank" class="text-accent">Forwardkind</a> is a member-owned ecosystem multiplying human potential by expanding access to transformational work while amplifying the collective impact of purpose-driven people.',
      },
    ]}
    image={{
      src: '~/assets/images/fk-logo2.png',
      alt: '',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Forwardkind Cooperative</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '',
        description:
          'The <a href="https://rcedp.org/hca_lp" target="_blank" class="text-accent">High Country Accelerator</a> is an 8-week startup business program designed to support early-stage entrepreneurs across the Yampa Valley in northwest Colorado.',
      },
    ]}
    image={{
      src: '~/assets/images/hca-logo2.png',
      alt: '',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">High Country Accelerator</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '',
        description: `The <i><a href="https://www.denverartmuseum.org/en/blog/designing-accessibility" target="_blank" class="text-accent">Designing for Accessibility</a></i> project at the Ellen Bruss Design Studio will function as a living laboratory for innovation that fosters connections between the disability community, museum staff, designers, and the public.`,
      },
    ]}
    image={{
      src: '~/assets/images/dam-logo.png',
      alt: '',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Denver Art Museum</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
